<ul class="categories" id="categories">
    <li class="categories__item">
        <a href="#group-all" class="categories__item__more-link is-current j-filter" data-filter="*">
            Все заведения
        </a>
    </li>

    <li class="categories__item">
        <a href="#group-restaurants" class="categories__item__link j-filter" data-filter="restaurants">
            <span class="categories__item__ico">
                <svg class="categories__item__ico__svg" role="image">
                    <use xlink:href="#restaurant"/>
                </svg>
            </span>
            <span class="categories__item__title">Рестораны</span>
        </a>
    </li>

    <li class="categories__item">
        <a href="#group-bars" class="categories__item__link j-filter" data-filter="bars">
            <span class="categories__item__ico">
                <svg class="categories__item__ico__svg is-move" role="image">
                    <use xlink:href="#bars"/>
                </svg>
            </span>
            <span class="categories__item__title">Бары</span>
        </a>
    </li>

    <li class="categories__item">
        <a href="#group-cafe" class="categories__item__link j-filter" data-filter="cafe">
            <span class="categories__item__ico">
                <svg class="categories__item__ico__svg" role="image">
                    <use xlink:href="#caffe"/>
                </svg>
            </span>
            <span class="categories__item__title">Кафе</span>
        </a>
    </li>

<!--
    <li class="categories__item">
        <a href="#group-cutlery" class="categories__item__link j-filter" data-filter="cutlery">
            <span class="categories__item__ico">
                <svg class="categories__item__ico__svg" role="image">
                    <use xlink:href="#dining"/>
                </svg>
            </span>
            <span class="categories__item__title">Столовые</span>
        </a>
    </li>
-->
<!--
    <li class="categories__item">
        <a href="#group-bakeries" class="categories__item__link j-filter" data-filter="bakeries">
            <span class="categories__item__ico">
                <svg class="categories__item__ico__svg" role="image">
                    <use xlink:href="#bakeries"/>
                </svg>
            </span>
            <span class="categories__item__title">Пекарни</span>
        </a>
    </li>
 -->
    <li class="categories__item">
        <a href="#group-pizzeria" class="categories__item__link j-filter" data-filter="pizzeria">
            <span class="categories__item__ico">
                <svg class="categories__item__ico__svg" role="image">
                    <use xlink:href="#pizzeria"/>
                </svg>
            </span>
            <span class="categories__item__title">Пиццерии</span>
        </a>
    </li>

    <li class="categories__item">
        <a href="#group-shops" class="categories__item__link j-filter" data-filter="shops">
            <span class="categories__item__ico">
                <svg class="categories__item__ico__svg" role="image">
                    <use xlink:href="#shopping"/>
                </svg>
            </span>
            <span class="categories__item__title">Магазины</span>
        </a>
    </li>
<!--
    <li class="categories__item">
        <a href="#group-hotels" class="categories__item__link j-filter" data-filter="hotels">
            <span class="categories__item__ico">
                <svg class="categories__item__ico__svg" role="image">
                    <use xlink:href="#hotels"/>
                </svg>
            </span>
            <span class="categories__item__title">Отели</span>
        </a>
    </li>
-->
</ul>