<footer class="layout-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
	<div class="layout-footer__wrapper">
		
		<div class="layout-footer__logo logo">
			<svg class="logo__image" role="image">
			    <use xlink:href="#logo"/>
			</svg>
		</div>

		<div class="layout-footer__offer">
			<span class="layout-footer__offer__middle">Информация на сайте не является публичной офертой.<br>Уточняйте цены у менеджера.</span>
		</div>

		<div class="layout-footer__copiright">
			<span class="layout-footer__copiright__middle">© Flute Service, 2011-2016</span>
		</div>
		
	</div>
</footer>