<nav class="navigation layout-header__navigation" role="navigation">
    <div class="navigation__wrapper">
        <ul class="navigation__list">
            
            <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="#" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'index'){ is-current}">
                    <span class="navigation__link__name" itemprop="name">Главная</span>
                </a>
            </li>

            <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="#" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'service'){ is-current}">
                    <span class="navigation__link__name" itemprop="name">Услуги</span>
                </a>
            </li>

            <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="#" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'catalog'){ is-current}">
                    <span class="navigation__link__name" itemprop="name">Каталог</span>
                </a>
            </li>

            <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="/markup/projects.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'projects'){ is-current}">
                    <span class="navigation__link__name" itemprop="name">Проекты</span>
                </a>
            </li>

            <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="#" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'how-to-buy'){ is-current}">
                    <span class="navigation__link__name" itemprop="name">Как купить</span>
                </a>
            </li>

            <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="#" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'contacts'){ is-current}">
                    <span class="navigation__link__name" itemprop="name">О компании</span>
                </a>
            </li>

            <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="/markup/articles.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'articles'){ is-current}">
                    <span class="navigation__link__name" itemprop="name">Статьи</span>
                </a>
            </li>

            <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="#" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'contacts'){ is-current}">
                    <span class="navigation__link__name" itemprop="name">Контакты</span>
                </a>
            </li>
                                                      


        </ul>
    </div>
</nav>