<div class="promo">
    
    <h2 class="page-header is-white">СМОТРИТЕ НАШ ПРОМО-РОЛИК</h2>
    
    <div class="promo__player">
        <div class="promo__player__video">
            <!--
            <span class="promo__player__play-button">
                <svg class="promo__player__play-button__icon" role="image">
                    <use xlink:href="#play-button"/>
                </svg>
            </span>
            -->
            <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/sCVy1uhMdwo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    
    <div class="promo__sub-title">У нас всегда найдется решение!</div>

    <div class="promo__button">
        <a href="#feedback" data-target="feedback" class="button _red j-open-popup">ОСТАВИТЬ ЗАЯВКУ</a>
    </div>

</div>