<div class="promo">
    
    <h2 class="page-header">СМОТРИТЕ НАШ ПРОМО-РОЛИК</h2>
    
    <div class="promo__player">
        <div class="promo__player__video">
            <span class="promo__player__play-button">
                <svg class="promo__player__play-button__icon" role="image">
                    <use xlink:href="#play-button"/>
                </svg>
            </span>
        </div>
    </div>
    
    <div class="promo__sub-title">У нас всегда найдется решение!</div>

    <div class="promo__button">
        <a href="#feedback" data-target="feedback" class="button _red j-open-popup">ОСТАВИТЬ ЗАЯВКУ</a>
    </div>

</div>