@@include('../../components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('../../components/_svgstore.html')
@@include('../../popup/_modal.html')

<div class="layout-wrapper is-dark">

    @@include('../../components/_header.html', {
        "current": "projects"
    })

    <div class="layout-wrapper__pusher">

        <div class="layout-wrapper__container clearfix">

            <!-- <h1 class="page-header is-white">Открытые нами заведения</h1> -->            
            <!-- @@include('../../components/_categories.html') -->
    
            <div class="project-item__navigation clearfix">
                <div class="project-item__navigation__item is-prev">
                    <a href="/projects/cosa-nova/index.html" class="project-item__navigation__link">
                        <svg class="project-item__navigation__ico" role="image">
                            <use xlink:href="#prev"/>
                        </svg>
                        <span class="project-item__navigation__title">
                            <span class="project-item__navigation__title__middle">ПРЕДЫДУЩИЙ ПРОЕКТ</span>
                        </span>
                    </a>
                </div>

                <div class="project-item__navigation__item is-next">
                    <a href="/projects/lavanda/index.html" class="project-item__navigation__link">
                        <span class="project-item__navigation__title">
                            <span class="project-item__navigation__title__middle">СЛЕДУЮЩИЙ ПРОЕКТ</span>
                        </span>
                        <svg class="project-item__navigation__ico" role="image">
                            <use xlink:href="#next"/>
                        </svg>
                    </a>
                </div>
            </div>
            
            <div class="project-item is-push clearfix">
                
                <div class="project-item__column">
                    
                    <div class="project-item__title">Ресторан «Заргарон»</div>
                    
                    <dl class="project-item__definition-list">
                        <dt>Тип заведения</dt>
                        <dd>Ресторан в 2-ух уровнях при отеле</dd>
                        
                        <dt>Площадь общая</dt>
                        <dd>1000 м²</dd>
                        
                        <dt>Город</dt>
                        <dd>Краснодар</dd>

                        <dt>Адрес</dt>
                        <dd>ул. Аэродромная, 130</dd>
                    </dl>

                    <div class="project-item__button">
                        <a href="" data-popup="feedback" class="button _red j-open-popup">ОСТАВИТЬ ЗАЯВКУ</a>
                    </div>
                </div>

                <div class="project-item__column">

                    <div class="project-item__sub-title">Вы получаете!</div>
                    
                    <ul class="project-item__list">
                        <li>Пояснительную записку;</li>
                        <li>Монтажную карту;</li>
                        <li>Альбом чертежей и схем;</li>
                        <li>Выезд специалиста для замера помещения;</li>
                        <li>Подбор технологического оборудования;</li>
                        <li>Расстановка оборудования на плане (схема + 3D проект);</li>
                        <li>План привязки оборудования к системам коммуникации;</li>
                        <li>Спецификация оборудования.</li>
                    </ul>
                </div>
                
            </div>

        </div>

        <div class="projects clearfix">

            <div class="projects__x project-item _x2">
                <a href="/projects/images/projects/zargaron/IMG_1602-l.jpg" class="project-item__image zoom on-hoverer">
                    <img src="/projects/images/projects/zargaron/IMG_1602.jpg" alt="" class="project-item__image__src">
                </a>
            </div>
            
            <div class="projects__x project-item _x2">
                <a href="/projects/images/projects/zargaron/IMG_1562-l.jpg" class="project-item__image zoom on-hoverer">
                    <img src="/projects/images/projects/zargaron/IMG_1562.jpg" alt="" class="project-item__image__src">
                </a>
            </div>
            
            <div class="projects__x project-item _x2">
                <a href="/projects/images/projects/zargaron/IMG_1574-l.jpg" class="project-item__image zoom on-hoverer">
                    <img src="/projects/images/projects/zargaron/IMG_1574.jpg" alt="" class="project-item__image__src">
                </a>
            </div>
            
            <div class="projects__x project-item _x2">
                <a href="/projects/images/projects/zargaron/IMG_1577-l.jpg" class="project-item__image zoom on-hoverer">
                    <img src="/projects/images/projects/zargaron/IMG_1577.jpg" alt="" class="project-item__image__src">
                </a>
            </div>
            
            <div class="projects__x project-item _x2">
                <a href="/projects/images/projects/zargaron/IMG_1580-l.jpg" class="project-item__image zoom on-hoverer">
                    <img src="/projects/images/projects/zargaron/IMG_1580.jpg" alt="" class="project-item__image__src">
                </a>
            </div>
            
            <div class="projects__x project-item _x2">
                <a href="/projects/images/projects/zargaron/IMG_1583-l.jpg" class="project-item__image zoom on-hoverer">
                    <img src="/projects/images/projects/zargaron/IMG_1583.jpg" alt="" class="project-item__image__src">
                </a>
            </div>
            
            <div class="projects__x project-item _x2">
                <a href="/projects/images/projects/zargaron/zvezda-ulugbeka-l.jpg" class="project-item__image zoom on-hoverer">
                    <img src="/projects/images/projects/zargaron/zvezda-ulugbeka.jpg" alt="" class="project-item__image__src">
                </a>
            </div>
            
            <div class="projects__x project-item _x2">
                <a href="/projects/images/projects/zargaron/project/1.jpg" class="project-item__image zoom on-hoverer">
                    <img src="/projects/images/projects/zargaron/project/preview.jpg" alt="" class="project-item__image__src">
                </a>
            </div>

            <a href="/projects/images/projects/zargaron/project/2.jpg" class="zoom"></a>
            <a href="/projects/images/projects/zargaron/project/3.jpg" class="zoom"></a>
            <a href="/projects/images/projects/zargaron/project/4.jpg" class="zoom"></a>
            <a href="/projects/images/projects/zargaron/project/5.jpg" class="zoom"></a>
            <a href="/projects/images/projects/zargaron/project/6.jpg" class="zoom"></a>
            <a href="/projects/images/projects/zargaron/project/7.jpg" class="zoom"></a>
            <a href="/projects/images/projects/zargaron/project/8.jpg" class="zoom"></a>
            <a href="/projects/images/projects/zargaron/project/9.jpg" class="zoom"></a>
            <a href="/projects/images/projects/zargaron/project/10.jpg" class="zoom"></a>
            <a href="/projects/images/projects/zargaron/project/11.jpg" class="zoom"></a>
            <a href="/projects/images/projects/zargaron/project/12.jpg" class="zoom"></a>
            <a href="/projects/images/projects/zargaron/project/13.jpg" class="zoom"></a>
            <a href="/projects/images/projects/zargaron/project/14.jpg" class="zoom"></a>
            <a href="/projects/images/projects/zargaron/project/15.jpg" class="zoom"></a>
            <a href="/projects/images/projects/zargaron/project/16.jpg" class="zoom"></a>
            <a href="/projects/images/projects/zargaron/project/17.jpg" class="zoom"></a>
            <a href="/projects/images/projects/zargaron/project/18.jpg" class="zoom"></a>
            <a href="/projects/images/projects/zargaron/project/19.jpg" class="zoom"></a>
            <a href="/projects/images/projects/zargaron/project/20.jpg" class="zoom"></a>
            <a href="/projects/images/projects/zargaron/project/21.jpg" class="zoom"></a>
            
        </div>
        
        @@include('../../components/_promo.html')

    </div>

</div>

@@include('../../components/_footer.html')
@@include('../../components/_scripts.html')