input,
textarea {
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;

    &:focus {
        outline: none;
    }
}

select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

label {
    cursor: pointer;
}

input, button {
    -webkit-appearance: none;
}

textarea {
    resize: vertical;
}

.f-input,
.f-textarea {
    width: 100%;
    border: 0;
    padding: 0;
    color: $c-tolopea;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: $font-family;
    background-color: transparent;
    border-bottom: 2px solid #d2d7dc;
    transition: border-color $a-long-time;

    &.error {
        border-color: $c-radical-red;
    }
    
    &:disabled {
        opacity: 0.4;
        cursor: default;
    }

    &:focus,
    &:focus {
        outline: none;
        border-color: $c-tolopea;
    }

    &::-ms-clear {
        display: none;
    }
}