.button {
    height: 53px;
    color: $c-white;
    padding: 0 40px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $c-radical-red;
    border-radius: 26px;
    @extend %button;

    &_submit {
        display: inline-block;
        vertical-align: middle;
    }

    &:hover {
        // color: #fff;
        // background-color: darken(#f6171e, 10%);
    }

    &.disabled {
        background: #ccc !important;
        cursor: not-allowed !important;
        background: #ccc !important;

        &, &:hover {
            -webkit-box-shadow: none !important;
            box-shadow:none !important;
            background: #ccc !important;
        }
    }
}