.contact {
    text-align: right;

    &__ico {
        width: 27px;
        height: 26px;
        position: absolute;
        left: 3px;
        top: 14px;
    }

    &__phone {
        color: $c-tolopea;
        display: block;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 2.4rem;
        padding-left: 45px;
        text-decoration: none;
        
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }

    &__adddress {
        color: $c-tolopea;
        display: block;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1;
        margin-top: 7px;
    }
}

@media only screen and (max-width: 768px) {
    .contact {
        text-align: left;
        padding-left: 40px;

        &__ico {
            left: 0;
            top: 0;
        }

        &__phone {
            padding-left: 0;
            display: inline-block;
            margin-left: 5px;
            margin-right: 5px;

            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 568px) {
    .contact {
        text-align: center;
        padding-left: 0;

        &__ico {
            display: none;
        }
    }
}

@media only screen and (max-width: 480px) {
    .contact {
        &__phone {
            &:not(:last-child) {
                margin-bottom: 13px;
            }
        }
    }
}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}