.logo {
    width: 157px;
    height: 52px;
    display: block;
    overflow: hidden;
    text-indent: -1000px;
    background: url(../images/logo.png) 50% 50% no-repeat;
    background-size: 157px 52px;
}