.logo {
    font-size: 0;
    line-height: 0;
    display: block;
    overflow: hidden;

    &__image {
        width: 100%;
        max-height: 100%;
        height: auto;
        display: inline-block;
        vertical-align: middle;
    }
}