.logo {
    font-size: 0;
    line-height: 0;
    display: block;
    overflow: hidden;
    
    &:before {
        content: "";
        display: block;
        padding-top: 33.7579617834%;
    }

    &__image {
        width: 100%;
        max-height: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        vertical-align: middle;
    }
}