.navigation {
    font-size: 0;
    margin: 0 -11px;

    &__wrapper {
        width: 100%;
    }

    &__list {
        display: inline-block;
        vertical-align: middle;
    }
    
    &__item {
        display: inline-block;
        vertical-align: middle;

        &:not(:last-child) {
            margin-right: 5px;
        }
    }

    &__link {
        color: $c-cobalt;
        height: 39px;
        padding: 0 8px;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 36px;
        border-radius: 39px;
        display: inline-block;
        border: 2px solid $c-white;
        text-decoration: underline;
        text-decoration: none;
        transition: color $a-time ease;
        
        &__name {
            transition: box-shadow $a-time ease;
            box-shadow: inset 0px -1px 0px 0px lighten($c-cobalt, 5%), inset 0px -2px 0px 0px lighten($c-cobalt, 25%);
        }

        &:hover {
            color: $c-radical-red;
        }

        &:hover &__name {
            box-shadow: inset 0px -1px 0px 0px lighten($c-radical-red, 5%), inset 0px -2px 0px 0px lighten($c-radical-red, 15%);
        }

        &.is-current {
            padding: 0 11px;
            border-color: $c-cobalt;
            text-decoration: none;

            &, &:hover {
                color: $c-cobalt;
                cursor: default;
            }
        }

        &.is-current &__name,
        &.is-current:hover &__name {
            box-shadow: none;
        }
    }
    
}

@media only screen and (max-width: 868px) {
    .navigation {
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9000;
        line-height: 1;
        background: none;
        box-shadow: none;
        visibility: hidden;
        
        &__similar {
            height: 0;
            display: none !important;
        }

        &, &._sticked {
            height: 100%;
            right: 0;
            bottom: 0;
        }

        &__wrapper {
            width: 100%;
            height: 100%;
            padding: 0;
            max-width: 100%;
            box-shadow: none;
            position: relative;
            overflow-y: auto;
            overflow-x: hidden;
        }

        &__list {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 15px 20px;
            transform: scale(0, 0);
            transition: transform $a-time;
        }
        
        &__item {
            border: 0;
            clear: both;
            display: block;
            position: relative;
            text-align: center;
            margin: 40px 0;
            background: none !important;

            &:before {
                display: none;
            }

            &:not(:last-child) {
                margin-right: 0;
                padding-right: 0;
            }
        }

        &__link {
            color: #fff;
            padding: 0;
            font-size: 3rem;
            line-height: 1.2;
            border-radius: 0;
            height: auto;
            border-bottom: 0;
            
            &:hover,
            &.current {
                color: #fff;
                background: none;
            }

            &.current {
                color: #1487d9;
            }

            &:after, &:before {
                display: none;
                opacity: 0 !important;
            }
        }
    }
}

@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}