.page-header {
    clear: both;
    color: $c-white;
    font-size: 3.6rem;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    outline: 1px solid lime;
    text-transform: uppercase;
}