.projects {
    clear: both;
    margin: 0 -5px;
    font-size: 0;
    line-height: 0;

    &__x {
        display: inline-block;
        vertical-align: top;
        position: relative;

        &:before {
            width: 100%;
            content: "";
            display: block;
        }

        &._x-full {
            width: 100%;

            &:before {
                display: none;
            }
        }

        &._x05 {
            width: 14.95%;

            &:before {
                padding-bottom: 148.5%;
            }
        }

        &._x0 {
            width: 33.3333333333%;

            &:before {
                padding-bottom: 100%;
                padding-bottom: 66.7136812412%;
            }
        }

        &._x1 {
            width: 25%;

            &:before {
                padding-bottom: 100%;
            }
        }

        &._x2 {
            width: 50%;

            &:before {
                padding-bottom: 66.7136812412%;
            }
        }
    }
}

.projects--list {
    text-align: center;
}

@media only screen and (max-width: 960px) {
    .projects__x {
        &._x0,
        &._x1,
        &._x2 {
            width: 50%;

            &:before {
                padding-bottom: 50%;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .projects__x {
        &._x0,
        &._x1,
        &._x2 {
            width: 100%;

            &:before {
                padding-bottom: 100%;
                padding-bottom: 66.7136812412%;
            }
        }
    }
}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}