@@include('../../components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('../../components/_svgstore.html')
@@include('../../popup/_modal.html')

<div class="layout-wrapper is-dark">

    @@include('../../components/_header.html', {
        "current": "projects"
    })

    <div class="layout-wrapper__pusher">

        <div class="layout-wrapper__container clearfix">

            <!-- <h1 class="page-header is-white">Открытые нами заведения</h1> -->
            <!-- @@include('../../components/_categories.html') -->
    
            <div class="project-item__navigation clearfix">
                <div class="project-item__navigation__item is-prev">
                    <a href="/projects/restaurant-park/index.html" class="project-item__navigation__link">
                        <svg class="project-item__navigation__ico" role="image">
                            <use xlink:href="#prev"/>
                        </svg>
                        <span class="project-item__navigation__title">
                            <span class="project-item__navigation__title__middle">ПРЕДЫДУЩИЙ ПРОЕКТ</span>
                        </span>
                    </a>
                </div>

                <div class="project-item__navigation__item is-next">
                    <a href="/projects/burger/index.html" class="project-item__navigation__link">
                        <span class="project-item__navigation__title">
                            <span class="project-item__navigation__title__middle">СЛЕДУЮЩИЙ ПРОЕКТ</span>
                        </span>
                        <svg class="project-item__navigation__ico" role="image">
                            <use xlink:href="#next"/>
                        </svg>
                    </a>
                </div>
            </div>
            
            <div class="project-item is-push clearfix">
                
                <div class="project-item__column">
                    
                    <div class="project-item__title">Кафе «Я ЕМ»</div>
                    
                    <dl class="project-item__definition-list">
                        <dt>Тип заведения</dt>
                        <dd>Кафе</dd>
                        
                        <dt>Площадь общая</dt>
                        <dd>230 м²</dd>
                        
                        <dt>Город</dt>
                        <dd>Краснодар</dd>

                        <dt>Адрес</dt>
                        <dd>ул. Восточно-Круглековская 96</dd>
                    </dl>
                    
                    <div class="project-item__button">
                        <a href="" data-popup="feedback" class="button _red j-open-popup">ОСТАВИТЬ ЗАЯВКУ</a>
                    </div>
                </div>

                <div class="project-item__column">

                    <div class="project-item__sub-title">Вы получаете!</div>
                    
                    <ul class="project-item__list">
                        <li>Пояснительную записку;</li>
                        <li>Монтажную карту;</li>
                        <li>Альбом чертежей и схем;</li>
                        <li>Выезд специалиста для замера помещения;</li>
                        <li>Подбор технологического оборудования;</li>
                        <li>Расстановка оборудования на плане (схема + 3D проект);</li>
                        <li>План привязки оборудования к системам коммуникации;</li>
                        <li>Спецификация оборудования.</li>
                    </ul>
                </div>
                
            </div>

        </div>

        <div class="projects clearfix">
            
            <div class="projects__x project-item _x2">
                <a href="/projects/images/projects/i-eat/BW9A8233-l.jpg" class="project-item__image zoom on-hoverer">
                    <img src="/projects/images/projects/i-eat/BW9A8233.jpg" alt="" class="project-item__image__src">
                </a>
            </div>

            <div class="projects__x project-item _x2">
                <a href="/projects/images/projects/i-eat/BW9A8205-l.jpg" class="project-item__image zoom on-hoverer">
                    <img src="/projects/images/projects/i-eat/BW9A8205.jpg" alt="" class="project-item__image__src">
                </a>
            </div>
            
            <div class="projects__x project-item _x2">
                <a href="/projects/images/projects/i-eat/BW9A8199-l.jpg" class="project-item__image zoom on-hoverer">
                    <img src="/projects/images/projects/i-eat/BW9A8199.jpg" alt="" class="project-item__image__src">
                </a>
            </div>
            
            <div class="projects__x project-item _x2">
                <a href="/projects/images/projects/i-eat/BW9A8147-l.jpg" class="project-item__image zoom on-hoverer">
                    <img src="/projects/images/projects/i-eat/BW9A8147.jpg" alt="" class="project-item__image__src">
                </a>
            </div>
            
            <div class="projects__x project-item _x2">
                <a href="/projects/images/projects/i-eat/BW9A8164-l.jpg" class="project-item__image zoom on-hoverer">
                    <img src="/projects/images/projects/i-eat/BW9A8164.jpg" alt="" class="project-item__image__src">
                </a>
            </div>
            
            <div class="projects__x project-item _x2">
                <a href="/projects/images/projects/i-eat/BW9A8118-l.jpg" class="project-item__image zoom on-hoverer">
                    <img src="/projects/images/projects/i-eat/BW9A8118.jpg" alt="" class="project-item__image__src">
                </a>
            </div>
            
            <div class="projects__x project-item _x2">
                <a href="/projects/images/projects/i-eat/BW9A8127-l.jpg" class="project-item__image zoom on-hoverer">
                    <img src="/projects/images/projects/i-eat/BW9A8127.jpg" alt="" class="project-item__image__src">
                </a>
            </div>

            <div class="projects__x project-item _x2">
                <a href="/projects/images/projects/i-eat/project/1.jpg" class="project-item__image zoom on-hoverer">
                    <img src="/projects/images/projects/i-eat/project/preview.jpg" alt="" class="project-item__image__src">
                </a>
            </div>

        </div>
        
        @@include('../../components/_promo.html')

    </div>

</div>

@@include('../../components/_footer.html')
@@include('../../components/_scripts.html')