@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')
@@include('./popup/_modal.html')

<div class="layout-wrapper is-dark">

    @@include('./components/_header.html', {
        "current": "projects"
    })

    <div class="layout-wrapper__pusher">

        <div class="layout-wrapper__container clearfix">

            <h1 class="page-header is-white">Открытые нами заведения</h1>
            
            @@include('./components/_categories.html')

            <div class="project-item__navigation clearfix">
                <div class="project-item__navigation__item is-prev">
                    <a href="" class="project-item__navigation__link">
                        <svg class="project-item__navigation__ico" role="image">
                            <use xlink:href="#prev"/>
                        </svg>
                        <span class="project-item__navigation__title">
                            <span class="project-item__navigation__title__middle">ПРЕДЫДУЩИЙ ПРОЕКТ</span>
                        </span>
                    </a>
                </div>

                <div class="project-item__navigation__item is-next">
                    <a href="" class="project-item__navigation__link">
                        <span class="project-item__navigation__title">
                            <span class="project-item__navigation__title__middle">СЛЕДУЮЩИЙ ПРОЕКТ</span>
                        </span>
                        <svg class="project-item__navigation__ico" role="image">
                            <use xlink:href="#next"/>
                        </svg>
                    </a>
                </div>
            </div>
            
            <div class="project-item is-push clearfix">
                
                <div class="project-item__column">
                    
                    <div class="project-item__title">Кафе быстрого питания «RIOBA»</div>
                    
                    <dl class="project-item__definition-list">
                        <dt>Тип заведения</dt>
                        <dd>Кафе</dd>
                        
                        <dt>Площадь общая</dt>
                        <dd>120 м²</dd>
                        
                        <dt>Город</dt>
                        <dd>Краснодар</dd>

                        <dt>Адрес</dt>
                        <dd>ул. Новый Арбат, д. 21</dd>
                    </dl>
                    
                    <div class="project-item__button">
                        <a href="" data-popup="feedback" class="button _red j-open-popup">ОСТАВИТЬ ЗАЯВКУ</a>
                    </div>

                </div>

                <div class="project-item__column">

                    <div class="project-item__sub-title">Вы получаете!</div>
                    
                    <ul class="project-item__list">
                        <li>Пояснительную записку;</li>
                        <li>Монтажную карту;</li>
                        <li>Альбом чертежей и схем;</li>
                        <li>Выезд специалиста для замера помещения;</li>
                        <li>Подбор технологического оборудования;</li>
                        <li>Расстановка оборудования на плане (схема + 3D проект);</li>
                        <li>План привязки оборудования к системам коммуникации;</li>
                        <li>Спецификация оборудования.</li>
                    </ul>
                </div>
                
            </div>

        </div>

        <div class="projects clearfix">
            
            <div class="projects__x project-item _x2">
                <div class="project-item__content">
                    
                    <div class="preloader"></div>
                    
                    <a href="#" class="project-item__image">
                        <img src="../images/project-test/1.jpg" alt="" class="project-item__image__blurred">
                        <img src="../images/project-test/1.jpg" alt="" class="project-item__image__src">
                    </a>

                </div>
            </div>

            <div class="projects__x project-item _x1">
                <div class="project-item__content">
                    
                    <div class="preloader"></div>

                    <a href="#" class="project-item__image">
                        <img src="../images/project-test/2.jpg" alt="" class="project-item__image__blurred">
                        <img src="../images/project-test/2.jpg" alt="" class="project-item__image__src">
                    </a>
                    
                </div>
            </div>

            <div class="projects__x project-item _x1">
                <div class="project-item__content">
                    <a href="../markup/project-item.html" class="project-item__link"></a>

                    <div class="preloader"></div>

                    <a href="#" class="project-item__image">
                        <img src="../images/project-test/3.jpg" alt="" class="project-item__image__blurred">
                        <img src="../images/project-test/3.jpg" alt="" class="project-item__image__src">
                    </a>
                    
                </div>
            </div>
            
            <!--  -->
            
            <div class="projects__x project-item _x1">
                <div class="project-item__content">
                    <a href="../markup/project-item.html" class="project-item__link"></a>

                    <div class="preloader"></div>

                    <a href="#" class="project-item__image">
                        <img src="../images/project-test/4.jpg" alt="" class="project-item__image__blurred">
                        <img src="../images/project-test/4.jpg" alt="" class="project-item__image__src">
                    </a>
                    
                </div>
            </div>

            <div class="projects__x project-item _x1">
                <div class="project-item__content">
                    <a href="../markup/project-item.html" class="project-item__link"></a>

                    <div class="preloader"></div>

                    <a href="#" class="project-item__image">
                        <img src="../images/project-test/5.jpg" alt="" class="project-item__image__blurred">
                        <img src="../images/project-test/5.jpg" alt="" class="project-item__image__src">
                    </a>
                    
                </div>
            </div>

            <div class="projects__x project-item _x2">
                <div class="project-item__content">
                    <a href="../markup/project-item.html" class="project-item__link"></a>

                    <div class="preloader"></div>

                    <a href="#" class="project-item__image">
                        <img src="../images/project-test/6.jpg" alt="" class="project-item__image__blurred">
                        <img src="../images/project-test/6.jpg" alt="" class="project-item__image__src">
                    </a>
                    
                </div>
            </div>
            
            <!--  -->

            <div class="projects__x project-item _x2">
                <div class="project-item__content">
                    
                    <div class="preloader"></div>

                    <a href="#" class="project-item__image">
                        <img src="../images/project-test/7.jpg" alt="" class="project-item__image__blurred">
                        <img src="../images/project-test/7.jpg" alt="" class="project-item__image__src">
                    </a>
                    
                </div>
            </div>

            <div class="projects__x project-item _x1">
                <div class="project-item__content">
                    
                    <div class="preloader"></div>

                    <a href="#" class="project-item__image">
                        <img src="../images/project-test/8.jpg" alt="" class="project-item__image__blurred">
                        <img src="../images/project-test/8.jpg" alt="" class="project-item__image__src">
                    </a>
                    
                </div>
            </div>

            <div class="projects__x project-item _x1">
                <div class="project-item__content">
                    
                    <div class="preloader"></div>

                    <a href="#" class="project-item__image">
                        <img src="../images/project-test/9.jpg" alt="" class="project-item__image__blurred">
                        <img src="../images/project-test/9.jpg" alt="" class="project-item__image__src">
                    </a>
                    
                </div>
            </div>

        </div>
        
        @@include('./components/_promo.html')

    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')