@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

<div class="layout-wrapper is-dark">

    @@include('./components/_header.html', {
        "current": "projects"
    })

    <div class="layout-wrapper__pusher">

        <div class="layout-wrapper__container clearfix">

            <h1 class="page-header">Открытые нами заведения </h1>
            
            <ul class="categories">
                <li class="categories__item">
                    <a href="" class="categories__item__more-link">
                        Все заведения
                    </a>
                </li>

                <li class="categories__item">
                    <a href="" class="categories__item__link">
                        <span class="categories__item__ico">
                            <svg class="categories__item__ico__svg" role="image">
                                <use xlink:href="#restaurant"/>
                            </svg>
                        </span>
                        <span class="categories__item__title">Рестораны</span>
                    </a>
                </li>

                <li class="categories__item">
                    <a href="" class="categories__item__link">
                        <span class="categories__item__ico">
                            <svg class="categories__item__ico__svg is-move" role="image">
                                <use xlink:href="#bars"/>
                            </svg>
                        </span>
                        <span class="categories__item__title">Бары</span>
                    </a>
                </li>

                <li class="categories__item">
                    <a href="" class="categories__item__link is-current">
                        <span class="categories__item__ico">
                            <svg class="categories__item__ico__svg" role="image">
                                <use xlink:href="#caffe"/>
                            </svg>
                        </span>
                        <span class="categories__item__title">Кафе</span>
                    </a>
                </li>

                <li class="categories__item">
                    <a href="" class="categories__item__link">
                        <span class="categories__item__ico">
                            <svg class="categories__item__ico__svg" role="image">
                                <use xlink:href="#dining"/>
                            </svg>
                        </span>
                        <span class="categories__item__title">Столовые</span>
                    </a>
                </li>

                <li class="categories__item">
                    <a href="" class="categories__item__link">
                        <span class="categories__item__ico">
                            <svg class="categories__item__ico__svg" role="image">
                                <use xlink:href="#bakeries"/>
                            </svg>
                        </span>
                        <span class="categories__item__title">Пекарни</span>
                    </a>
                </li>

                <li class="categories__item">
                    <a href="" class="categories__item__link">
                        <span class="categories__item__ico">
                            <svg class="categories__item__ico__svg" role="image">
                                <use xlink:href="#pizzeria"/>
                            </svg>
                        </span>
                        <span class="categories__item__title">Пиццерии</span>
                    </a>
                </li>

                <li class="categories__item">
                    <a href="" class="categories__item__link">
                        <span class="categories__item__ico">
                            <svg class="categories__item__ico__svg" role="image">
                                <use xlink:href="#shopping"/>
                            </svg>
                        </span>
                        <span class="categories__item__title">Магазины</span>
                    </a>
                </li>

                <li class="categories__item">
                    <a href="" class="categories__item__link">
                        <span class="categories__item__ico">
                            <svg class="categories__item__ico__svg" role="image">
                                <use xlink:href="#hotels"/>
                            </svg>
                        </span>
                        <span class="categories__item__title">Отели</span>
                    </a>
                </li>
            </ul>
            
        </div>

        <div class="projects clearfix">
            
            <div class="projects__x _x1">
                <div class="projects__content">
                    
                </div>
            </div>

            <div class="projects__x _x1">
                <div class="projects__content">
                    
                </div>
            </div>

            <div class="projects__x _x2">
                <div class="projects__content">
                    
                </div>
            </div>

        </div>

    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')