@@include('../components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('../components/_svgstore.html')
@@include('../popup/_modal.html')

<div class="layout-wrapper is-dark">

    @@include('../components/_header.html', {
        "current": "projects"
    })

    <div class="layout-wrapper__pusher">

        <div class="layout-wrapper__container clearfix">

            <h1 class="page-header is-white">Открытые нами заведения</h1>

            @@include('../components/_categories.html')
            
        </div>

        <div class="projects clearfix">
            
            <div class="projects__x project-item j-project-item _x2">
                <div class="project-item__content">
                    <a href="../markup/projects/bumbarash.html" class="project-item__link"></a>

                    <div class="project-item__title">Ресторан «Бумбараш»</div>
                    
                    <dl class="project-item__definition-list">
                        <dt>Тип заведения</dt>
                        <dd>Ресторан</dd>
                        
                        <dt>Площадь общая</dt>
                        <dd>200 м²</dd>
                        
                        <dt>Город</dt>
                        <dd>Краснодар</dd>

                        <dt>Адрес</dt>
                        <dd>ул. Уральская, 79/1 ТРК «СБС Мегамолл»</dd>
                    </dl>
                </div>

                <div class="project-item__image">
                    <img src="/projects/images/projects/bumbarash/main.jpg" alt="" class="project-item__image__blurred">
                    <img src="/projects/images/projects/bumbarash/main.jpg" alt="" class="project-item__image__src">
                </div>
            </div>

            <div class="projects__x project-item j-project-item _x2">
                <div class="project-item__content">
                    <a href="../markup/projects/kochetovy-slasti.html" class="project-item__link"></a>

                    <div class="project-item__title">Магазин «Кочетовы Сласти»</div>
                    
                    <dl class="project-item__definition-list">
                        <dt>Тип заведения</dt>
                        <dd>Магазин-кафейня</dd>
                        
                        <dt>Площадь общая</dt>
                        <dd>100 м²</dd>
                        
                        <dt>Город</dt>
                        <dd>Краснодар</dd>

                        <dt>Адрес</dt>
                        <dd>ул. Тургенива, 193</dd>
                    </dl>
                </div>

                <div class="project-item__image">
                    <img src="/projects/images/projects/kochetovy-slasti/main.jpg" alt="" class="project-item__image__blurred">
                    <img src="/projects/images/projects/kochetovy-slasti/main.jpg" alt="" class="project-item__image__src">
                </div>
            </div>

            <div class="projects__x project-item j-project-item _x2">
                <div class="project-item__content">
                    <a href="../markup/projects/rioba.html" class="project-item__link"></a>

                    <div class="project-item__title">Кафе «RIOBA»</div>
                    
                    <dl class="project-item__definition-list">
                        <dt>Тип заведения</dt>
                        <dd>Кафейня</dd>
                        
                        <dt>Площадь общая</dt>
                        <dd>10 м²</dd>
                        
                        <dt>Город</dt>
                        <dd>Краснодар</dd>

                        <dt>Адрес</dt>
                        <dd>ул. Ростовское шоссе, 30</dd>
                    </dl>
                </div>

                <div class="project-item__image">
                    <img src="/projects/images/projects/rioba/main.jpg" alt="" class="project-item__image__blurred">
                    <img src="/projects/images/projects/rioba/main.jpg" alt="" class="project-item__image__src">
                </div>
            </div>

            <div class="projects__x project-item j-project-item _x2">
                <div class="project-item__content">
                    <a href="../markup/projects/rioba.html" class="project-item__link"></a>

                    <div class="project-item__title">Фабрика-кухня «Smart Food»</div>
                    
                    <dl class="project-item__definition-list">
                        <dt>Тип заведения</dt>
                        <dd>Фабрика-кухня</dd>
                        
                        <dt>Площадь общая</dt>
                        <dd>150 м²</dd>
                        
                        <dt>Город</dt>
                        <dd>Краснодар</dd>

                        <dt>Адрес</dt>
                        <dd>ул. Тургеневское шоссе, д.33 павильон 2b</dd>
                    </dl>
                </div>

                <div class="project-item__image">
                    <img src="/projects/images/projects/smart-food/main.jpg" alt="" class="project-item__image__blurred">
                    <img src="/projects/images/projects/smart-food/main.jpg" alt="" class="project-item__image__src">
                </div>
            </div>

            <!--
            <div class="projects__x project-item _x1">
                <div class="project-item__content">
                    <a href="../markup/project-item.html" class="project-item__link"></a>
                    
                    <div class="preloader"></div>

                    <div class="project-item__title">Кафе быстрого питания «RIOBA»</div>
                    
                    <dl class="project-item__definition-list">
                        <dt>Тип заведения</dt>
                        <dd>Кафе</dd>
                        
                        <dt>Площадь общая</dt>
                        <dd>120 м²</dd>
                        
                        <dt>Город</dt>
                        <dd>Краснодар</dd>

                        <dt>Адрес</dt>
                        <dd>ул. Новый Арбат, д. 21</dd>
                    </dl>

                </div>
            </div>

            <div class="projects__x project-item _x1">
                <div class="project-item__content">
                    <a href="../markup/project-item.html" class="project-item__link"></a>
                    
                    <div class="preloader"></div>

                </div>
            </div>

            <div class="projects__x project-item _x2">
                <div class="project-item__content">
                    <a href="../markup/project-item.html" class="project-item__link"></a>

                    <div class="preloader"></div>
                </div>
            </div>
            
            <! - -  - - >
            
            <div class="projects__x project-item _x2">
                <div class="project-item__content">
                    <a href="../markup/project-item.html" class="project-item__link"></a>

                    <div class="preloader"></div>
                </div>
            </div>

            <div class="projects__x project-item _x1">
                <div class="project-item__content">
                    <a href="../markup/project-item.html" class="project-item__link"></a>

                    <div class="preloader"></div>
                </div>
            </div>

            <div class="projects__x project-item _x1">
                <div class="project-item__content">
                    <a href="../markup/project-item.html" class="project-item__link"></a>

                    <div class="preloader"></div>
                </div>
            </div>
            
            <! - -  - - >

            <div class="projects__x project-item _x1">
                <div class="project-item__content">
                    <a href="../markup/project-item.html" class="project-item__link"></a>

                    <div class="preloader"></div>
                </div>
            </div>

            <div class="projects__x project-item _x1">
                <div class="project-item__content">
                    <a href="../markup/project-item.html" class="project-item__link"></a>
                    
                    <div class="preloader"></div>
                </div>
            </div>

            <div class="projects__x project-item _x2">
                <div class="project-item__content">
                    <a href="../markup/project-item.html" class="project-item__link"></a>
                    
                    <div class="preloader"></div>
                </div>
            </div>
            
            <! - -  - - >

            <div class="projects__x project-item _x2">
                <div class="project-item__content">
                    <a href="../markup/project-item.html" class="project-item__link"></a>
                    
                    <div class="preloader"></div>
                </div>
            </div>

            <div class="projects__x project-item _x1">
                <div class="project-item__content">
                    <a href="../markup/project-item.html" class="project-item__link"></a>
                    
                    <div class="preloader"></div>
                </div>
            </div>

            <div class="projects__x project-item _x1">
                <div class="project-item__content">
                    <a href="../markup/project-item.html" class="project-item__link"></a>
                    
                    <div class="preloader"></div>
                </div>
            </div>
            -->
        </div>
        
        @@include('../components/_promo.html')

    </div>

</div>

@@include('../components/_footer.html')
@@include('../components/_scripts.html')